.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(./public/bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.inicio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.inicio-ilust img{
    max-width: 500px;
}